* {
  font-family: "Times New Roman", sans-serif;
  color: #fff;
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
}

.main-content-container {
  font-size: 3em;
  text-align: center;
  padding: 6.3em;
}

.header-content-container {
  background-color: white;
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #efefef;
}

.about-header, .about-description {
  text-align: center;
}

.about-header {
  margin: 0.5em 0 0.5em 0;
}

.about-description {
  margin: 0 2em 2em 2em;
}

.projects-header {
  text-align: center;
}

.contact-header {
  text-align: center;
}