* {
  font-family: "Times New Roman", sans-serif;
  color: #fff;
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
}

.main-content-container {
  font-size: 3rem;
  text-align: center;
  padding: 21vw;
}

.header-content-container {
  background-color: white;
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #efefef;
}

.about-content {
  display: flex;
}

.about-content-leftside, .about-content-rightside {
  flex: 1;
  padding: 1vw;
}

.about-content-leftside {
  margin: 2vw 0.5vw 2vw 2vw;
}

.about-content-rightside {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 2vw 2vw 2vw 0.5vw;
}

#skills {
  border: solid;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
}

.skills-first-row, .skills-second-row, .skills-third-row, .skills-fourth-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-css-container{
  margin: 0 1vw 0 0;
}

.skill-javascript-container {
  margin: 0 1vw 1vw 1vw;
}

.about-header, .about-description {
  text-align: center;
}

.about-header {
  margin: 2vw 0 0.5vw 0;
}

.projects-header {
  text-align: center;
}

.projects-content {
  margin: 2vw;
}

.contact-header {
  text-align: center;
}

.contact-content {
  display: flex;
  justify-content: space-evenly;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
