* {
  font-family: "Times New Roman", sans-serif;
  color: #fff;
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
}

.main-content-container {
  font-size: 3em;
  text-align: center;
  padding: 6.3em;
}

.header-content-container {
  background-color: white;
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #efefef;
}

.about-content {
  display: flex;
}

.about-content-leftside, .about-content-rightside {
  flex: 1;
  padding: 1em;
}

.about-content-leftside {
  margin: 2em 0.5em 2em 2em;
}

.about-content-rightside {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 2em 2em 2em 0.5em;
}

#skills {
  border: solid;
  width: 8em;
  height: 8em;
  border-radius: 50%;
}

.skills-first-row, .skills-second-row, .skills-third-row, .skills-fourth-row {
  display: flex;
  align-items: center;
  justify-content: center;
}


.about-header, .about-description {
  text-align: center;
}

.about-header {
  margin: 2em 0 0.5em 0;
}

.projects-header {
  text-align: center;
}

.projects-content {
  margin: 2em;
}

.contact-header {
  text-align: center;
}

.contact-content {
  display: flex;
  justify-content: space-evenly;
}