.grid-overlay {
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  top: 0;
  height: 100%;

  z-index: 0;
  pointer-events: none;

  background-image:
    linear-gradient(var(--grid-line) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid-line) 1px, transparent 1px);
  background-size: 80px 80px;
}

@media (max-width: 767px) {
  .grid-overlay {
    background-size: 55px 55px;
  }
}
