.carousel-image {
  object-position: calc(100% + var(--offset)) center;
}

/* Prevent the browser from triggering native image/text selection dragging */
.carousel-image,
[ref="trackRef"] img {
  -webkit-user-drag: none;
  user-drag: none;
  user-select: none;
}
